<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dal.mapper.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dal.model.CustomerInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="cust_phone" jdbcType="VARCHAR" property="custPhone" />
    <result column="company_addr" jdbcType="VARCHAR" property="companyAddr" />
    <result column="repo_time" jdbcType="TIMESTAMP" property="repoTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_phone" jdbcType="INTEGER" property="isPhone" />
    <result column="is_visit" jdbcType="INTEGER" property="isVisit" />
    <result column="is_gold_beans" jdbcType="INTEGER" property="isGoldBeans" />
    <result column="is_compact" jdbcType="INTEGER" property="isCompact" />
    <result column="is_compact_check" jdbcType="INTEGER" property="isCompactCheck" />
    <result column="is_money" jdbcType="INTEGER" property="isMoney" />
    <result column="compact_img" jdbcType="VARCHAR" property="compactImg" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="abandon_reason" jdbcType="VARCHAR" property="abandonReason" />
    <result column="check_refuse_reason" jdbcType="VARCHAR" property="checkRefuseReason" />
  </resultMap>
  <select id="getMonthNum" resultType="java.lang.Integer">
    SELECT COUNT(*) from customer_info
    WHERE user_id = #{userId}
      AND status = 2
      AND date_format(modify_time,"%Y%m") = #{dtNum};
  </select>

  <select id="getWeekNum" resultType="java.lang.Integer">
    select COUNT(*) from customer_info
    WHERE user_id = #{userId}
      AND status = 2
      AND date_format(modify_time,"%Y%m%d") BETWEEN #{dt1} AND #{dt2}
  </select>
</mapper>