<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dal.mapper.SalesTechMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dal.model.SalesTech">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tech_id" jdbcType="VARCHAR" property="techId" />
    <result column="tech_name" jdbcType="VARCHAR" property="techName" />
    <result column="tech_content" jdbcType="VARCHAR" property="techContent" />
  </resultMap>
</mapper>