<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dal.mapper.UserAccountMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.dal.model.UserAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="balance" jdbcType="DOUBLE" property="balance"/>
        <result column="account_bank_no" jdbcType="VARCHAR" property="accountBankNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <update id="updateUserAccount">
        update user_account
        set balance = balance + #{cash},modify_time = now()
        WHERE user_id = #{id}
    </update>
    <update id="updateBankNo">
        update user_account
        set account_bank_no = #{bankNo},modify_time = now()
        where user_id = #{id}
    </update>
</mapper>