<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dal.mapper.UserReceiptApplyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dal.model.UserReceiptApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName" />
    <result column="apply_user_phone" jdbcType="VARCHAR" property="applyUserPhone" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="duty_paragraph" jdbcType="VARCHAR" property="dutyParagraph" />
    <result column="receipt_title" jdbcType="VARCHAR" property="receiptTitle" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="cust_receipt_address" jdbcType="VARCHAR" property="custReceiptAddress" />
  </resultMap>
</mapper>