<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niule.yunjiagong.yunjiagong.dal.mapper.AdviceResponseMapper">
  <resultMap id="BaseResultMap" type="com.niule.yunjiagong.yunjiagong.dal.model.AdviceResponse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="question_type" jdbcType="VARCHAR" property="questionType" />
    <result column="question_detail" jdbcType="VARCHAR" property="questionDetail" />
    <result column="question_imgs" jdbcType="VARCHAR" property="questionImgs" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>