<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niule.marketing.controller.controller.dal.mapper.define.CustomerPerDayResponseMapper" >
    <resultMap id="BaseResultMap" type="com.niule.marketing.controller.controller.dal.model.define.CustomerPerDayResponse" >
        <result column="real_name" property="userRealName" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_type" property="companyType" jdbcType="VARCHAR" />
        <result column="cust_name" property="custName" jdbcType="VARCHAR" />
        <result column="cust_phone" property="custPhone" jdbcType="VARCHAR" />
        <result column="company_addr" property="custAddr" jdbcType="VARCHAR" />
        <result column="repo_time" property="repoTime" jdbcType="TIMESTAMP" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getPerDayCustomerInfo" resultMap="BaseResultMap" resultType="java.util.List">
        select u.real_name,c.company_name,c.company_type,c.cust_name,c.cust_phone,c.company_addr,c.repo_time,c.mark
        from customer_info c
        LEFT JOIN user_info u on c.user_id = u.id
        <where>
            is_gold_beans = 1 and (c.status &lt;&gt; 3 or c.status &lt;&gt; 4)
            <if test="startTime != null">
                AND DATE_FORMAT(c.repo_time,'%Y-%m-%d') &gt;= #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(c.repo_time,'%Y-%m-%d') &lt;= #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by c.repo_time desc
  </select>

</mapper>