<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>log</contextName>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">

        <!--展示格式 layout-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
            </pattern>
        </layout>
    </appender>

    <appender name="logFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                src/main/resources/log/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="logFile"/>
    </root>

    <logger name="com.niule" level="WARN" additivity="false">
        <appender-ref ref="consoleLog"/>
    </logger>
</configuration>